@{
    ViewData["Title"] = "Create Drug";
}

    <div class="w-50 mx-auto">
        <h1>Create new drug</h1>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">@Html.ValidationSummary()</div>
        }
        <form method="post">
            <div class="form-group">
                <label for="tradeName">Trade Name</label>
                <input type="text" class="form-control" id="tradeName" name="TradeName" aria-describedby="emailHelp" placeholder="Trade Name" required>
            </div>
            <div class="form-group">
                <label for="InternationalName">International Name</label>
                <input type="text" class="form-control" id="InternationalName" name="InternationalName" placeholder="International Name" required>
            </div>
            <div class="form-group">
                <label for="Form">Form</label>
                <input type="text" class="form-control" id="Form" name="Form" placeholder="Form" required>
            </div>
            <div class="form-group">
                <label for="Formula">Formula</label>
                <input type="text" class="form-control" id="Formula" name="Formula" placeholder="Formula" required>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
